@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url("{% static 'search/fonts/OpenSans-Regular.ttf' %}");
}

* {
	margin: 0;
}

body {
	background-image: url("{%static 'search/images/background.png' %}");
	background-size: cover;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #333;
	margin: 0;
	height: 100vh;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

/* Header */
.header {
	background-color: #18507a;
	height: 60px;
	padding: 0;
}

.logo {
	background-image: url("{%static 'search/images/favicon.png' %}");
	background-size: contain;
	/* display: inline-block; */
}

/* Logo */
/* .clear {
	clear: both;
} */

/* Content */
.content-container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	min-height: calc(100vh - 120px);
	overflow-y: auto;
}

.content {
	width: 75%;
	float: left;
}

.content-text {
	margin-top: 10px;
}

/* Sidebar */
.left-chapters {
	background-image: url("{%static 'search/images/sidebar_background.png'%}");
	background-size: cover;
	width: 25%;
	float: left;
}

.left-chapters ul {
	list-style: none;
	margin: 0;
	padding: 5px 5px 5px 0;
	border-radius: 10px;
}

/* Footer */
.footer-links {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	background-color: #18507a;
	margin-top: auto;
	/* added to fix the footer connecting to down border */
	width: 100%;
	/* added to fix the footer connecting to down border */
}

.footer-links li {
	margin: 0 100px;
}

.footer-links a {
	color: #333;
	text-decoration: none;
	align-items: center;
	display: flex;
}

.footer-links a:hover {
	text-decoration: underline;
}

.footer-links img {
	margin-right: 15px;
	width: 50px;
	height: 50px;
}