/* TOO MUCH UNSUSED CODE,
NEED TO FIX THAT */


/* CSS for left part of view */
#leftchapters {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#leftchapters li {
	font-family: 'Signika Negative', sans-serif;
	padding: 18px;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}

#leftchapters li:last-child {
	border-bottom: none;
}

#leftchapters li a {
	text-decoration: none;
	color: #333;
	transition: color 0.2s;
	font-weight: normal;
}

#leftchapters li.active,
#leftchapters li.active:hover {
	background-color: #007bff;
}

#leftchapters li.active a {
	color: #fff;
	font-weight: bold;
}

#leftchapters li a:hover {
	color: #000000;
	font-weight: bold;
}

/* Customize slider for list in this left part */

li:hover {
	background-color: transparent;
	color: inherit;
}

li.highlight {
	background-color: transparent;
	color: inherit;
}

ul.dropdown-menu li:hover {
	background-color: transparent;
	color: inherit;
}

ul.dropdown-menu li.highlight {
	background-color: transparent;
	color: inherit;
}

ul.dropdown-menu {
	padding: 10px;
	background-color: transparent;
	overflow-y: auto;
	white-space: nowrap;
	max-height: 300px;
	padding-right: 15px;
	border-radius: 4px;
}

ul.dropdown-menu li:hover {
	background-color: transparent;
	font-weight: bold;
	color: black;
}

ul.dropdown-menu::-webkit-scrollbar {
	width: 18px;
	/* increase the width */
	background-color: #0174DF;
}

ul.dropdown-menu::-webkit-scrollbar-thumb {
	background-color: #FF8C00;
	border-radius: 10px;
}

ul.dropdown-menu::-webkit-scrollbar-track {
	background-color: #0174DF;
	border-radius: 10px;
}

ul.dropdown-menu::-webkit-scrollbar-corner {
	background-color: #0174DF;
}

ul.dropdown-menu::-webkit-scrollbar-track-piece:start {
	background-color: #0174DF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

ul.dropdown-menu::-webkit-scrollbar-track-piece:end {
	background-color: #0174DF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

ul.dropdown-menu::-webkit-scrollbar-thumb:hover {
	background-color: #FFA500;
}

/* CSS for progress bar */
.progress {
	width: 100%;
	height: 20px;
	background: #eee;
	border-radius: 5px;
}

#progress-bar {
	height: 20px;
	background: #4caf50;
	border-radius: 5px;
	width: 0%;
	transition: 0.2s;
}

/* CSS for message output */
.name-field {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #4caf50;
}


/* FORM SETTINS FOR CHOICE FIELDS */

#form-control {
	background-color: white;
	border-color: orange;
	color: blue;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, orange, white);
	transition: all 0.4s ease-out;
}

#form-control option {
	background-color: orange;
	color: white;
}

#form-control:hover {
	background-color: rgb(255, 255, 255);
}

#form-control:focus {
	background-color: orange;
	transform: scale(1.1);
	outline: none;
	background-image: linear-gradient(to bottom, white, orange);
	box-shadow: 0px 0px 20px orange;
}



/* Code for stylizing submit button in main view */
.custom-btn {
	background: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	border: none;
	border-radius: 5px;
	color: #333333;
	padding: 10px 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-in-out;
}

.custom-btn:hover {
	background: linear-gradient(to bottom, #F2F2F2, #E6E6E6);
	transform: translateY(-3px);
}

.custom-btn:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	transform: translateY(1px);
	background-color: #007ACC;
	background-image: linear-gradient(to bottom, #007ACC, #0062A8);
	border-radius: 5px;
	color: #FFFFFF;
}


/* Code for formatting other elements of forms */

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	margin: 2rem auto;
	background-color: #fff;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}

.form h1 {
	float: center;
	margin-top: 0;
	font-size: 2rem;
	font-weight: 600;
	color: #333;
}

label {
	margin-bottom: 0.5rem;
	font-weight: 600;
	color: #333;
}

input,
textarea {
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	outline: none;
	width: 100%;
}

textarea {
	height: 150px;
}

button[type="submit"] {
	background: linear-gradient(to bottom, #007ACC, #0062A8);
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-top: 1rem;
	padding: 0.75rem 1.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.4);
	transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
	transform: translateY(-2px);
	background: linear-gradient(to bottom, #0062A8, #004B87);
}

button[type="submit"]:active {
	box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.75);
	transform: translateY(1px);
	background: linear-gradient(to bottom, #0062A8, #004B87);
}


/* CODE FOR ICON ANIMATION */
#logo {
	/* padding: 10px 10px 10px 25px; */
	width: 64px;
	height: 64px;
	/* box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.4); */
	transition: all 0.2s ease-in-out;
}

#logo:hover {
	transform: rotate(5deg);
	transform: translateX(1px);
	transform: translateY(1px);
	transition: all 0.3s ease-in-out;
}


/* STYLIZING FOR CHOICE FIELD */
/* Style form fields */
form input,
form select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
}

/* Style submit button */
form button[type=submit] {
	background-color: orange;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

/* Style choice field */
form select option {
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 0, 0);
}

form select {
	background-color: rgba(255, 255, 255, 0);
	color: #000000;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg"><polygon points="4,8 0,2 8,2"></polygon></svg>');
	background-repeat: no-repeat;
	background-position-x: calc(100% - 10px);
	background-position-y: center;
}

/* Add hover animation */
.color-select {
	color: white;
	background-color: black;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
	transition: background-color 0.2s ease-in-out;
}

.color-select option[value="O"] {
	background-color: orange;
}

.color-select option[value="B"] {
	background-color: blue;
}

.color-select option[value="W"] {
	background-color: white;
}


.color-select:focus {
	outline: none;
	box-shadow: 0 0 5px white;
}

.color-select:hover {
	background-color: orange;
}


html,
body {
	font-family: 'Signika Negative', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.table-page tr {
	height: 100%;
}

.header {
	background: #3F4137;
	height: 60px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.left-chapters ul {
	width: 350px;
	min-height: 100%;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

.content-text {
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 16px;
	font-family: 'Signika Negative', sans-serif;
}

.content-text h1 {
	font-size: 20px;
}

#footer {
	box-sizing: border-box;

	background: #3F4137;
	padding: 5px;
	color: #aaa;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica;
	text-align: left;
	overflow: hidden;
}

#footer a {
	text-decoration: underline;
	color: #aaa;
}

.form-label {
	display: inline-block;
	min-width: 150px;
	vertical-align: top;
}